header {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    border-bottom: solid black 1px;
    gap: 3vw;
    font-weight: bold;
    font-size: 1.2vw;
}

a{
    display: flex;
    text-decoration: none;
    color: black;
}
.menutop {
    display: none;
}

.add {
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding-left: 8.5vw;
}

.account {
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.middle {
    width: 2.5vw;
    padding-left: 1vw;
}

.report {
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding-left: 10vw;
}

.top {
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.icons {
    width: 2vw;
}

.text {
    font-size: 1.2vw;
    justify-items: center center;
    margin: auto;
    margin-left: 0.5vw;
}

.blackicon {
    width: 1.2vw;
    margin: 0.5vw;
}

.pedro {
    width: 3vw;
    background-color: orangered;
    padding: 0.2vw;
    border-radius: 50%;
}

.Titulo{
    margin-top: 3rem;
    text-align: center;
}

.agregar_proyecto{
    text-align: center;
    font-size: 1.1rem;
}

.conteiner{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 30px;
    border-color: rgb(255, 144, 33) ;
    background-color: rgb(242, 242, 242) ;
    width: 80rem;
    height: 30rem;
    overflow: hidden;
    align-items: baseline;
}

textarea{
    border-radius: 10px;
    border-color: grey
}

.Subtitulos h4{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: 0;
}

.Subtitulos{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: -4%;
    margin-bottom: 5%;
}

.Formula{
    background-image: url(../images/Triangulo.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: 20px;
    rotate: 180deg;
}

.Area{
    background-image: url(../images/Triangulo.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: 20px;
    rotate: 180deg;
}

.Fecha{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 15%;
    margin-bottom: auto;
}

.Inicio{
    margin-left:-25%;
}

.Fin{
    margin-left: 4.6rem;
}

.Inicio h4{
    margin: 0%;
    margin-left: 10%;
}

.Fin h4{
    margin: 0%;
    margin-left: 15%;
}

.Cumplimiento{
    background-image: url(../images/Triangulo.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: 20px;
    rotate: 180deg;
}

.Categoria{
    background-image: url(../images/Triangulo.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: 20px;
    rotate: 180deg;
}

.Subtitulos_izquierda{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.Subtitulos_izquierda h4{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: 0;
}

.Añadir_elementos{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border: 1px solid;
    border-radius: 1rem;
    background-color: rgb(255, 144, 33);
    width: 14rem;
    height: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.botom{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-decoration: none;
}

@media screen and (max-width:650px){
    body {
        padding: 0;
        margin: 0;
    }

    .add {
        display: none;
    }

    .top {
        display: none;
    }

    .middle {
        display: none;
    }

    .report {
        display: none;
    }

    header {
        flex-direction: row;
        align-items: center;
        padding: 2vw 3vw;
        gap: 0;
        font-size: 2vw;
        border-bottom: 1px solid #ccc;
        justify-content: left;
    }

a{
    display: flex;
    text-decoration: none;
    color: black;
}

    /*Hamburguesa de arriba que despliega menu*/

    .menutop {
        position: relative;
        display: inline-block;
        margin-top: 1vw;
    }

    .menutop1 {
        width: 6vw;
    }

    /* Ocultar que se muestre el checkbox */
    .click {
        display: none;
    }

    .menu_btn {
        border: none;
        padding: 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /* Contenido desplegable */
    .menu_desplega {
        display: none;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: rgb(255, 255, 255);
        min-width: max-content;
        overflow: hidden;
        top: 0%;
        left: 100%;
        opacity: 0;
        width: 80vw;
        margin: auto;
    }

    /* Cuando está seleccionado*/
    .click:checked~.menu_desplega {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    /* Enlaces dentro del menu */
    .menu_desplega a {
        display: block;
        padding: 2vw 2vw;
        text-decoration: none;
    }

    .iconsTopD {
        width: 4.5vw;
    }


    .text {
        display: none;
    }

    .account {
        display: flex;
        flex-direction: row;
        width: 15vw;
        margin: 0;
        gap: 20vw;
        justify-content: space-around;
        margin-left: 55vw;
    }

    .blackicon {
        width: 3vw;
        height: 3vw;
        margin: 2vw;
    }

    .pedro {
        width: 7vw;
        height: 7vw;
        border-radius: 50%;
        background-color:rgb(251, 99, 43);
        padding: 0.3vw;
    }

    .conteiner{
        display: grid;
        width: 24rem;
        height: 34rem;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .Añadir{
        display: none;
    }
    .Delete{
        display: none;
    }
    .Logo{
        display: none;
    }
    .Ayuda{
        display: none;
    }
    .Reload{
        display: none;
    }
    .reportar{
        display: none;
    }
    .agregar_proyecto{
        display: none;
    }

    .Subtitulos{
        display: grid;
        grid-template-columns: auto auto;
        margin: 0%;

    }

    .Indicador{
        width: 20rem;
        grid-column-start: 1;
        grid-column-end: 2;

    }

    .Descripcion textarea{
        width: 20rem;
        height: 3rem;
    }

    .Descripcion{
        height: 4rem;
        width: 13rem;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 1rem;
    }

    .Subtitulos_izquierda{
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .Fecha_Fin{
        width: 9.7rem;
    }

    .Fin{
        margin-left: 1rem;
        margin-top: -25rem;
    }
    .Fecha_inicio{
        margin-left: auto;
        margin-right: auto;
        width: 9rem;
    }
    .Inicio{
        position: relative;
        margin-top: -25rem;
    }
    .text_categoria textarea{
        width: 20rem;
    }

    .text_categoria{
        text-align: left;
        margin-top: -23rem;
    }

    .text_Cumplimiento textarea{
        width: 9rem;
        background-image: none;
    }
    .text_Cumplimiento{
        margin-top: -17rem;
    }

    .text_Frecuencia textarea{
        width: 9rem;
    }

    .text_Frecuencia{
        margin-left: 11rem;
        margin-top: -15.87rem;

    }

    .text_Formula textarea{
        margin-left: 1.6rem;
        width: 20rem;
    }
    .text_Formula{
        margin-left: -22rem;
        margin-top: 15rem;
    }

    .text_Area textarea{
        width: 20rem;
    }
    .text_Area{
        margin-top: 1rem;
        margin-left: -20.4rem;
    }
}
    
