body {
    margin: 0%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    border-bottom: solid black 1px;
    gap: 3vw;
    font-weight: bold;
    font-size: 1.2vw;
}

a{
    display: flex;
    text-decoration: none;
    color: black;
}
.menutop {
    display: none;
}

.add {
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding-left: 8.5vw;
}

.account {
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.middle {
    width: 2.5vw;
    padding-left: 1vw;
}

.report {
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding-left: 10vw;
}

.top {
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.icons {
    width: 2vw;
}

.text {
    font-size: 1.2vw;
    justify-items: center center;
    margin: auto;
    margin-left: 0.5vw;
}

.blackicon {
    width: 1.2vw;
    margin: 0.5vw;
}

.pedro {
    width: 3vw;
    background-color:#ff7221;
    padding: 0.2vw;
    border-radius: 50%;
}

.panel {
    font-size: 2vw;
    margin: 2.5vw;
    padding-top: 1vw;
}

.firstblock{
    background-color: #f2f2f2;
    margin: auto;
    width: 66vw;
    height: 28vw;
    border-radius: 2vw;
    border-width: 2px;
    border-style: solid;
    border-color: #ff7221;
}

.preguntas{
    background-color: white;
    margin: auto;
    margin-bottom: 2vw;
    width: 55vw;
    height: 3.5vw;
    align-content: center;
    text-align: left;
    display: flex;
    flex-direction: row;
    border-radius: 2vw;
    border-color: rgba(0, 0, 0, 0.633);
}
.arrowDown{
    width: 1vw;
    height: 1vw;
    margin: auto;
    padding-left: 30vw;
}
.questions{
    font-size: 1.5vw;
    margin: auto;
}

.secondblock{
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;

}

.uno{
    grid-column-start: 1;
    background-color: #f2f2f2;
    margin: 5vw;
    align-items: center center;
    padding: 3vw;
    border-radius: 2vw;
    border-width: 2px;
    border-style: solid;
    border-color: #ff7221;
}
.dos{
    grid-column-start: 2;
    background-color: #f2f2f2;
    margin: 5vw;
    align-items: center center;
    padding: 3vw;
    border-radius: 2vw;
    border-width: 2px;
    border-style: solid;
    border-color: #ff7221;
}
.tres{
    grid-column-start: 3;
    background-color: #f2f2f2;
    margin: 5vw;
    align-items: center center;
    padding: 3vw;
    border-radius: 2vw;
    border-width: 2px;
    border-style: solid;
    border-color: #ff7221;
}