body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-bottom: 2px solid #565656;
}



header > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0 1.2rem;
}

.account {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.center_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

#center_icon {
    padding-left: 1.2rem;
    width: 2.7rem;
    height: 2.7rem;
}

#pedro {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    object-fit: cover;
}

header img {
    width: 1.3rem;
    height: 1.3rem;
}

header p {
    margin: 0;
    font-size: 0.8rem;
    color: #222;
    font-weight: 500;
}

h2{
    display: flex;
    justify-content: center;
}

.reporte {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px solid #FF721B;
    border-radius: 1rem;
    padding: 1rem;
    width: 60%;
    justify-items:center;
    margin: 3rem auto 0 auto;
}


.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 1 / 2 / 2 / 3; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 3 / 2 / 4 / 3; }

label{
    display: block;
    text-align: left;
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
    color: #222;
}

h2{
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: white;
    background-color: #FF721B;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    min-width: 120px;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0 auto;
}

a:hover {
    background-color: #e05d00;
}