body {
    background-image: url(../images/fondoInicial.png);
    background-color: black;
}

/** Rectangulo Principal **/
.Welcome {
    margin: auto;
    position: absolute;
    height: 30rem;
    width: 45rem;
    background-color: white;
    border-radius: 5vh;
    display: flex;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 1;
    flex-direction: column;
    animation: Welcome 2s 1;
    opacity: 0;
    overflow: hidden;
}

/** Animacion de Opacidad **/
@keyframes Welcome {
    0% {
        opacity: 1;
    }

    15% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }
}

/** Logo **/
.kario {
    margin-top: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/** Primeras palabras **/
.WelcomeAgain {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: clamp(1.6rem, 2rem, 5rem);
    font-family: Arial, Helvetica, sans-serif;
    ;
}

/** Pedrito **/
.Pedrito {
    margin-left: auto;
    margin-right: auto;
}

/**Nombre**/
.Nombre {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: clamp(1.4rem, 2rem, 5rem);
    font-family: Arial, Helvetica, sans-serif;
}

/**La ultimas palabras**/
.Usuario {
    margin-bottom: 3rem;
    font-size: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

/**Imagen atras del Welcome**/
.kario_sin_kario {
    width: 14rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

/**Responsive para mobile**/

@media screen and (max-width:428px) {
    .kario {
        margin-top: -4.5rem;
        padding: 30%;
    }

    .Welcome {
        width: 21rem;
        height: 45rem;
        border: 3px solid rgb(255, 114, 27);
    }

    .WelcomeAgain {
        font-size: 1rem;
    }

    .Pedrito {
        height: 12rem;
        width: 12rem;
    }

    .Nombre {
        font-size: 17px;
    }
}